// Copyright // --------------------------------------------------
// Made entirely by Brandon Mowat
// created by STRAPPY (A script the help you get working.)
/* Copyright Brandon Mowat */

// Global Variables // --------------------------------------------------
// fonts
$font-primary: 'Helvetica Neue',sans-serif;
$font-secondary: "source code pro",sans-serif;
// colors
$color-primary: rgb(33,0,255);
$pink: #F6EAF0;
$tan: #EFEFE5;
$blue: rgb(33,0,255);
$purple: #482bbd;
$white: #fff;
$gray: #F1F1F1;
//$color-primary: #482bbd;
$color-secondary: rgb(60,60,60);
$color-link: #53616F;
// animations and transitions
@mixin transition($transition) { // USAGE: @include transition(all .2s ease-in);
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}
// utilities (eg., underline, pull-left)
// structure elements (grid columns, containers, wrappers, ect.)
.container {
	margin: 0 auto;
	padding: 0 0px;
	width: calc(100% - 0px); // (width - 'padding on left and right')
	//max-width: 900px;
}
.paper {
	background-color: #fff;
	padding: 50px 10%;
	width: 60%;
	margin: 0 10%;
}
.grid {
	overflow: auto;
}
.grid > * {
	float: left
}
.col-1-10 {
	width: calc((1/10)*100%);
}
.col-8-10 {
	width: calc((8/10)*100%);
}
.col-1-2 {
	width: 50%;
}
.col-1-3 {
	width: 33.3333%;
}
.flex-centered-vertical {
	display: flex;
	align-items: center;
	justify-content: center;
}

// Main CSS // --------------------------------------------------
html,body {
	margin:0;
	padding:0;
	font-family:$font-primary;
}
body {
	background-color: $gray;
}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
h3,
p,
ul li {
	font-family: $font-secondary;
}
li {}
a {
	color: $blue;
	text-decoration: none;
}
li {
	list-style-type: none;
}
em {
	font-weight: 800;
}

// sidebar // --------------------------------------------------
.sidebar {
	-webkit-transition-duration: 0.2s;
	-webkit-transition-property: opacity;
	-webkit-transition-timing-function: ease;
	box-sizing: border-box;
	font-size: 12px;
	font-weight: 300;
	height: 40px;
	left: 30px;
	letter-spacing: 4px;
	opacity: 1;
	position: fixed;
	text-transform: uppercase;
	top: 45%;
	transform: matrix(0, 1, -1, 0, 0, 0);
	transform-origin: 0px 40px;
	transition-delay: 2.2s;
	transition-duration: 0.2s;
	transition-property: opacity;
	transition-timing-function: ease;
	width: 151.515625px;
	z-index: 40;
}

// Navigation //  --------------------------------------------------
header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

// Journal entries --------------------------------------------------
section.header {
	padding: 100px 0;
	background-color: #41B5FF;
}
section.header .inner {
	width: 80%;
	margin: 0 auto;
}
section.header h1 {
	color: #FFF;
}
//
section.journal {
	transform: translate3d(0,-50px,0);
}
section.journal ul li {
	list-style-type: disc;
}

// Hero section //  --------------------------------------------------
section.hero {
}
section.hero .inner .header-parallax,
section.hero svg {
	-webkit-transition: transform 0.2s linear;
	transition: transform 0.2s linear;
}
section.hero .inner {
	height: 100%;
	position: relative;
}
section.hero h1.title {
	color: $blue;
	line-height: 0.9;
	z-index: 5;
	margin: 0;
	position: absolute;
	left: 20%;
	top: calc(40%);
	font-size: 100px;
}
section.hero .feature-photo {
	height: 100%;
}
section.hero img.feature-rectangle {
	width: 30%;
	left: 35%;
}
// SVG positioning
section.hero svg._1,
section.hero svg._2,
section.hero svg._3,
section.hero svg._4,
section.hero svg._5 {
	position: absolute;
}
section.hero svg._1 {
	bottom: 60%;
	left: 65%;
}
section.hero svg._2 {
	bottom: 10%;
	left: 30%;
}
section.hero svg._3 {
	bottom: 80%;
	left: 60%;
}
section.hero svg._4 {
	bottom: 90%;
	left: 10%;
}
section.hero svg._5 {
	bottom: 30%;
	left: 90%;
}

section.about {
}
section.about .pull-right {
	margin: 0 10%;
}