@import '../variables';

.work-history {
  .work-title {
    color: $gray;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.current-employer {
  padding-left: 20px;
  position: relative;
}

.current-employer::before {
  background: $green;
  border-radius: 100%;
  content: '';
  height: 10px;
  left: 0;
  position: absolute;
  top: 27px;
  width: 10px;
  z-index: 10;
}
