@import 'variables';

.logo {
  // background-color: $purple;

  img {
    width: 150px;
  }

  #logo {
    transition: transform ease .3s;
  }

  .rotate {
    transform: rotate(10deg);
  }
}

.hero {
  // background-color: $purple;
  // color: $white;
  padding-bottom: 200px;

  .hero--content {
    //padding-top: 100px;

    .title {
      font-size: 70px;
    }

    h1 {
      font-weight: 500;
      letter-spacing: -.02em;
    }
  }
}

.info-section {
  margin: 0 auto;
  max-width: 500px;
}

.short-intro {
  margin-top: 40px;

  h3 {
    margin: 10px 0;
  }
}
