@import 'variables';
@import 'animations';

.border-bottom {
  border-bottom: 1px solid $light-gray;
}

.squares {
  display: flex;

  img {
    align-self: center;
    margin: 0 auto;
    width: 50%;
  }
}

.tdot img {
  height: auto;
  object-fit: cover;
  width: 100%;
}

// About


// Services

.chat {
  padding-right: 40px;
  width: calc(50% - 40px);
}

// color section

.color--section {
  animation: hue 40s infinite linear;
  background-color: $purple;
  padding: 15% 0;
  width: 100%;
}
