$white: #fff;
$light-gray: rgba(0, 0, 0, .1);
$gray: rgba(0, 0, 0, .3);

$primary: #fdd832;
$secondary: #3257fd;
$green: #7fff94;
$purple: #947fff;
$font-color: rgba(0, 0, 0, .8);

$font-stack: -apple-system, 'Helvetica Neue', 'Helvetica', helvetica, sans-serif;
